 * {
    margin: 0;
    padding: 0;
    list-style: none;
}
body > div {
    margin: 150px 100px;
    position: relative;
}

.circle {
    width: 70px;
    height: 70px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 22px solid black;
    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.longline, .shortline, .oval {
    background-color: black;
}
.absolute {
    position: absolute;
}

.longline {
    width: 22px;
    height: 130px;
    border-radius: 22px;
    position:absolute;
    top: -19px;
    left: -28px;
    transform: rotate(90deg);
}

.shortline {
    margin: 100px;
    width: 22px;
    height: 70px;
    transform: rotate(90deg);
    border-radius: 22px;
    position: absolute;
    top: -15px;
    left: 25px;
}

.marginTop {
    margin-top: 100px;
}


.b {
    left: 150px;
    top: 0;
    transform: rotate(90deg);
}

.c {
    position: absolute;
    left: 280px;
    top:0;
    transform: rotate(270deg);
}

.d {
    left: 420px;
}
.d > div {
    left: 32px;
}

.e {
    left: 580px;
    top:0;
    transform: rotate(270deg);
}
.e > div{
    position: relative;
    top: -22px;
    left: 27px;
}

.f {
    left: 730px;
    top: -50px;
    transform: rotate(270deg);
}

.f > div {
    top: -61px;
    left: -35px;
    height: 100px;
}

.g {
    left: 860px;
    top: -50px;
    transform: rotate(270deg);
}

.g > div:first-child {
    top: -108px;
    left: -110px;
    height: 90px;
}
.g > div:last-child {
    top: -22px;
    left: -100px;
    transform: rotate(-90deg);
}


.h > div {
    transform: rotate(180deg);
    left: 0px;
    top: 110px;
}

.i > div {
    transform: rotate(180deg);
    top: 40px;
    left: -100px;
    height: 90px;
    margin-top: 0;
    
}

.oval {
    width: 23px;
    height: 23px;
    border-radius: 23px;
}
.i {
    top: 10px;
    left: 165px;
}

.j {
    top: 10px;
    left: 310px;
}
.j > div:first-child {
    height: 90px;
    transform: rotate(180deg);
    top: -60px;
    left: -99px;
}

.j > div:last-child {
    transform: rotate(180deg);
    left: -47px;
    top: 90px;
}

.k {
    top: 10px;
    left: 430px;
    transform: rotate(180deg);
}
.k > div {
    top: 0;
    left: -50px;
    transform: rotate(90deg);
}

.l {
    left: 580px;
    top:10px;
    transform: rotate(180deg);
}

.l > div {
    top:-125px;
    left: -125px;
}

.m {
    left: 705px;
    bottom:0;
}
.m > div {
    position: relative;
    top: -22px;
    left: 27px;
}

.n {
    left: 870px;
    bottom:0;
}

.o {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: 22px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: -150px;
}

.p {
    transform: rotate(90deg) scaleX(-1);
    bottom:-150px;
    left: 150px;
}
.q {
    bottom:-150px;
    left: 280px;
}

.q > div {
    height: 40px;
    transform: rotate(135deg);
    left: -70px;
    top: -80px;
}
.r {
    height:50px;
    top:210px;
    left: 365px;
}
.r > div {
    height: 80px;
    top:-90px;
    left: -80px;
}

.s {
    left: 590px;
    top: 340px;
    transform: rotate(90deg);
}
.s > div {
    position: relative;
    top: -10px;
    left: -70px;
    transform: rotate(180deg);
}
.t {
    height: 50px;
    top:205px;
    left: 660px;
}

.t > div {
    height: 120px;
    top:-115px;
    left: -80px;
}

.u {
    transform: rotate(180deg);
    left: 870px;
    top: 320px;
}

.v {
    transform: rotate(180deg);
    top: 500px;
}

.v > div {
    height: 30px;
    transform: rotate(180deg);
    left: -98px;
    top: -140px;
}
.w {
    left: 170px;
    bottom: -330px;
    transform: rotate(180deg);
}
.w > div {
    position: relative;
    top: -22px;
    left: 27px;
}

.x {
    height: 90px;
    transform: rotate(45deg);
    top: 390px;
    left: 210px;
    
}
.x > div {
    height: 90px;
    top: -100px;
    left:-100px;
}

.y {
    left: 420px;
    top: 500px;
    transform: rotate(180deg);
}

.y > div {
    top: -82px;
    left: -22px;
    transform: rotate(180deg);
}

.z {
    left: 570px;
    top: 500px;
    transform: rotate(90deg);
}
.z > div {
    position: relative;
    top: -30px;
    left: 25px;
    transform: rotate(180deg);
}


/*

body > div > div:last-child {
    height: 21px;
    width: 21px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom:0;
    left: 150px;
}*/
